-- Migration: Add processing_status and error_message to calls table
ALTER TABLE calls ADD COLUMN IF NOT EXISTS processing_status VARCHAR DEFAULT 'completed';
ALTER TABLE calls ADD COLUMN IF NOT EXISTS error_message TEXT;
